<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="NCR_Packout_Camera.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <NCR_Packout_Camera.Properties.Settings>
            <setting name="CameraID_1" serializeAs="String">
                <value>Not configured</value>
            </setting>
            <setting name="CameraID_2" serializeAs="String">
                <value>Not configured</value>
            </setting>
            <setting name="SNLength_item" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LockSN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ValidatePrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoTime_1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SNLength" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="CamActive_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamActive_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamActive_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamActive_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamActive_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraID_3" serializeAs="String">
                <value>Not configured</value>
            </setting>
            <setting name="CameraID_4" serializeAs="String">
                <value>Not configured</value>
            </setting>
            <setting name="CameraID_5" serializeAs="String">
                <value>Not configured</value>
            </setting>
            <setting name="CamAuto_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamAuto_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamAuto_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamAuto_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CamAuto_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>\\\\mxchim0web13\DolphinSSCOsCam\</value>
            </setting>
            <setting name="VideoTime_2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VideoTime_3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VideoTime_4" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VideoTime_5" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tars_Customer" serializeAs="String">
                <value>NCR</value>
            </setting>
            <setting name="Tars_Equipment" serializeAs="String">
                <value>AVIDE01ST01</value>
            </setting>
            <setting name="Tars_Process" serializeAs="String">
                <value>VIDEO VALIDATION</value>
            </setting>
            <setting name="Tars_Assembly" serializeAs="String">
                <value>6684</value>
            </setting>
            <setting name="Tars_Path" serializeAs="String">
                <value>\\MXCHIM0MIDFIL01\iFactory\STG\</value>
            </setting>
            <setting name="Step_validation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Step_Buttonup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Step_AccessoriesInp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iFactoryInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XML_Path" serializeAs="String">
                <value>c:\videos\</value>
            </setting>
            <setting name="EnableXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckParser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParserName" serializeAs="String">
                <value>NCRPreParserimage</value>
            </setting>
            <setting name="QualityAlert" serializeAs="String">
                <value>False</value>
            </setting>
        </NCR_Packout_Camera.Properties.Settings>
    </userSettings>
</configuration>
